@use 'typography';
@use '../abstracts' as *;

body {
  font-family: typography.$montserrat;
  background: rgb(206, 206, 206);
}
.hero {
  padding: 1em;
}
h1 {
  padding: 1em;
  // @include media-query(medium){
  //   padding: 0 0.5em 0 0;
  // }
  

}
p {
  line-height: 1.5em;
  text-align: left;
}
main {
  padding-top: 5rem;
}
