@use '../abstracts' as *; 
header{
      background: $dark-gray;
      color: rgb(255, 255, 255); 
}
.color-yellow-gray{
         background:$yellow-gray;
}
.text-white{
      color: rgb(255, 255, 255);
}
.text-yellow-gray{
      color: $yellow-gray
}
.color-light-gray{
      background: lighten($light-gray, 50%);
}
.color-gray{
  background: $gray;
}