@use 'fonts' as *;
@use '../abstracts' as *;

%align-text {
  font-family: $font-primary, sans-serif;
  font-size: clamp(2rem, 8vw, 4rem);
}

.nav__link {
  font-family: $font-primary, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
p {
  font-family: $font-secondary;
}

/*Hero Section*/
.hero__title {
  font-family: $font-primary, sans-serif;
  font-size: clamp(2rem, 8vw, 6rem);
  line-height: clamp(2rem, 8vw, 6rem);
}
.hero__content {
  font-family: $font-secondary;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
}
.hero__btn {
  font-family: $font-primary;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}

/*Features Section*/
.features__title {
  font-family: $font-primary;
  font-weight: bold;
}

.footer__title {
  font-family: $font-primary;
  font-size: 1.5rem;
}

/*Articles Section*/
.article__title{
   font-family: $font-primary;
  font-size: 1.5rem;

}
.article__card-title{
  font-family: $font-primary;
}
