@use 'fonts' as *;
@use '../abstracts' as *;

%align-text {
  font-family: $font-primary, sans-serif;
  font-size: clamp(2rem, 8vw, 4rem);
}

.nav__link {
  font-family: $font-primary, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
p {
  font-family: $font-secondary;
}
.hero__title {
  font-family: $font-primary, sans-serif;
  font-size: clamp(2rem, 8vw, 6rem);
  line-height: clamp(2rem, 8vw, 6rem);
  //padding-right: 2rem;
}
.hero__content {
  //text-align: center;
  font-family: $font-secondary;

  font-size: clamp(1.2rem, 2vw, 1.5rem);
  //font-size: 24px;

  // @include media-query(medium) {
  //   text-align: left;
  // }
}
.hero__btn {
  font-family: $font-primary;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}

.features__title {
  font-family: $font-primary;
  font-weight: bold;
}

// .text-center {
//   text-align: center;
// }

// .article__title {
//   @extend .features__title;
//   text-align: center;
//   padding: 1rem 0;
//   @include media-query(medium) {
//     text-align: left;
//   }
// }
