@use '../abstracts/' as *;

//Articles Section
.article {
  text-align: center;
  @include media-query(medium) {
    text-align: left;
  }
  &__title {
    padding: 1rem 0;
  }
  &__img {
    padding: 1rem 0;
    @include media-query(medium) {
      display: flex;
      justify-content: center;
    }
    @include media-query(large) {
      justify-content: left;
    }
  }
  &__container {
    padding: 3rem 1rem;
    display: flex;
    @include media-query(medium) {
      flex-direction: column;
      padding: 3rem 1rem;
    }
    @include media-query(large) {
      flex-direction: row;
      padding: 3rem 0;
    }
  }
  &__content-container {
    //padding: 1rem 1rem;
    @include media-query(medium) {
      margin: 0 auto;
      text-align: left;
      max-width: 100%;
    }
    @include media-query(large) {
      margin: 0 auto;
      text-align: left;
      max-width: 90%;
    }
  }
}
