@use '../abstracts/' as *;
.container {
  display: flex;
  padding: clamp(1.5rem, 2vw, 2rem);
  flex-direction: column;
  @include media-query(medium){
    flex-direction: row;
    max-width: 1400px; 

  }
}
.hero__btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  @include media-query(medium) {
    justify-content: left;
  }
}
.hero__content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
