@use '../abstracts' as *; 
header {
  text-align: center;
  padding: 1em 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  // background: $dark-gray;
  // color: rgb(255, 255, 255); 
}

