@use '../abstracts/' as *;

.container {
  display: flex;
  flex-direction: column;
  padding: 0 clamp(1.5rem, 2vw, 2rem) 2rem;
  margin-inline: auto;
  justify-self: center;
  @include media-query(medium) {
    flex-direction: row;
    max-width: 1200px;
  }
}
