
.row{
    padding: 1rem 0;
    width: 100%; 
    margin: 0 auto;
}
.column{
    padding: 0 1rem; 
}
.hero{
    padding: 3rem 0; 
}

.features__title{
    padding: 1rem;
}
.features{
    padding: 2rem 0;
}



