@use '../abstracts/' as *;

.container {
  display: flex;
  flex-direction: column;
  //padding: clamp(1.5rem, 2vw, 2rem);

  margin-inline: auto;
  justify-self: center;
  //border: solid;
  @include media-query(medium) {
    flex-direction: row;
    //max-width: 900px;
    width: max(80%, 600px);
  }
}

//Hero Section
.hero {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 5rem 0;
  @include media-query(medium) {
    width: max(80%, 600px);
  }

  &__title-container {
    //padding:  5rem 1rem 3rem 1rem;

    //display: flex;
    flex: 1 1 0;
    padding: clamp(5rem, 6vh, 2rem) 0 0 0;
    text-align: center;
    @include media-query(medium) {
      text-align: left;
    }
  }

  &__btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-query(medium) {
      justify-content: left;
    }
  }
  &__content {
    padding: 2rem 0;
    text-align: center;
    @include media-query(medium) {
      text-align: left;
    }
  }
  &__content-container {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-inline: 1rem;
  }
}

//Features Content

.features {
  background: lighten(map-get($colors, 'light-gray'), 45%);
  padding: 2rem 0;
  text-align: center;
  &__card {
    padding: 1.5rem 0;
  }
  &__title {
    padding: 1rem 0;
  }
  &__description {
    padding: 0 4rem;
    @include media-query(medium) {
      padding: 0 2rem;
    }

    // padding: 0 clamp(1rem, 2vw, 5rem);
  }
}
//Articles Section
.article {
  text-align: center;
  @include media-query(medium) {
    text-align: left;
  }
  &__container {
    padding: 3rem 0;
    display: flex;
    @include media-query(medium) {
      flex-direction: column;
    }
     @include media-query(large){
       flex-direction: row;
     }
  }
  &__content {
    padding: 1rem 0;
    @include media-query(medium){
      text-align: center;
    }
  }
  &__cards {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media-query(medium) {
      flex-direction: row;
      align-items: flex-start;
    }
    @include media-query(large){
      flex-direction: column;
      align-items: center;
    }
  }
  &__card {
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    max-width: 70%;
    &-title {
      padding: 0.5rem 0;
    }
    &-content {
      padding: 1rem 0;
    }
  }
}
