@use '../abstracts' as *;

//Hamburger Menu
.nav-toggle {
  width: 3em;
  height: 3em;
  background: #072a2d;
  color: white;
  border-radius: 50%;
  padding: 0.5em;
  border: 0;
  cursor: pointer;
  position: absolute;
  left: 0;
  @include media-query(medium) {
    display: none;
  }
}

//Create 3 lines for menu
.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  height: 3px;
  margin: 0 auto;
  background: white;
}
.hamburger::before,
.hamburger::after {
  content: '';
  width: 100%;
}
//Position the top line for menu
.hamburger::before {
  transform: translateY(-6px);
}
//Position the bottom line for menu
.hamburger::after {
  transform: translateY(3px);
}

//Hides Menu Links
.nav {
  visibility: hidden;
  height: 0;
  padding: 1em 0 0 0;
  text-transform: uppercase;
  font-weight: 500;
  &__list {
    list-style: none;
    padding: 1em 0 0 0;
    @include media-query(medium) {
      display: flex;
      gap: 1em;
      padding: 1rem;
      align-items: center;
    }
  }
  &__link { 
    color: white;
    &:hover,
    &:focus {
      opacity: 0.65;
    }
  }
  &__item {
    padding: 0.2em;
  }
  &--visible {
    visibility: visible;
    height: auto;
    position: relative;
  }
  @include media-query(medium) {
    visibility: visible;
   // height: auto;
    position: relative;
    display: flex;
    padding: 0;
  }
}
.row {
  @include media-query(medium) {
    display: flex;
    justify-content: space-between;
  }
}
